﻿<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<link rel="stylesheet" href="//progrentis.com/DesktopModules/Cursos/Cliente/ConsolaEjercicio/EstiloBase.css" />

<style>
#pantallaActividad{
	display: table;
	border: 1px dashed blue;
}
#colDefiniciones,#colTerminos{
	display: table-cell;
	border: 1px solid purple;
	width: 70%;
	vertical-align: middle;
}
#colTerminos{
width: 30%;
}

.colorHandle{
	height: 100%;
	display: inline-block;
	width: 50px;
	background-color: black;
}

.cellDefinicion, .cellTermino{
	cursor: pointer;
	display: table;
	vertical-align: middle;
	width: 100%;
	height: 20%;
	border: 1px solid green;
}
.cellDefinicion > *, .cellTermino > *{
	display: table-cell;
	vertical-align: middle;
}
#contPlantillas{
display: none;
}
</style>

<div style="width: 735px; height: 410px; margin:0 auto;">
	<div id="Actividad_Main">
		<div id="pantallaActividad" class="pantalla">
		<div id="contPlantillas">
				<div class="cellDefinicion">
					<div class="colorHandle"></div>
					<div class="texto">Much definicion</div>
				</div>
				<div class="cellTermino">
					<div class="colorHandle"></div>
					<div class="texto">Such termino</div>
				</div>
		</div>
			<div id="colDefiniciones">
				<div class="cellDefinicion">
					<div class="colorHandle"></div>
					<div>Much definicion</div>
				</div>
				<div class="cellDefinicion">
					<div class="colorHandle"></div>
					<div>Such definicion</div>
				</div>
				<div class="cellDefinicion">
					<div class="colorHandle"></div>
					<div>Wow definicion</div>
				</div>
			
			</div>
			<div id="colTerminos">
				<div class="cellTermino">
					<div class="colorHandle"></div>
					<div>Such termino</div>
				</div>
				<div class="cellTermino">
					<div class="colorHandle"></div>
					<div>Much Termino</div>
				</div>
				<div class="cellTermino">
					<div class="colorHandle"></div>
					<div>Wow Termino</div>
				</div>
			</div>
		<input type="button" id="btnResponder" value="Calificar" />
		
		</div>
	</div>
</div>



<script>
function shuffle(array) {
  var m = array.length, t, i;

  // While there remain elements to shuffle…
  while (m) {

    // Pick a remaining element…
    i = Math.floor(Math.random() * m--);

    // And swap it with the current element.
    t = array[m];
    array[m] = array[i];
    array[i] = t;
  }

  return array;
}

terminos = [
{
'termino': 'termino 1'
, 'definicion': "Dicece de la cual pertenece al termino 1, mas texto que espero surpase la linea y haga dos lineas al menos pero hizo tres lineas en verdad. ¿Que pasa si existieran cinco lineas?"
},{
'termino': 'termino 2'
, 'definicion': "Dicece de la cual pertenece al termino 2"
},{
'termino': 'termino 3'
, 'definicion': "Dicece de la cual pertenece al termino 3"
},{
'termino': 'termino 4'
, 'definicion': "Dicece de la cual pertenece al termino 4"
},{
'termino': 'termino 5'
, 'definicion': "Dicece de la cual pertenece al termino 5"
}
];
ncolores = [
"BurlyWood",
"Chocolate",
"DeepPink",
"ForestGreen",
"LawnGreen",
"Navy",
"OliveDrab",
"OrangeRed"
];
rbuenas = rmalas = 0;
function resultado(n){
	if (n==1){
	rbuenas++;
	} else {
	rmalas++;
	}
}
shuffle(ncolores);

	jQuery(document).ready(function(){
		listaDefiniciones = [];
		listaTerminos = [];
		jQuery.each(terminos, function(i, v){
			listaDefiniciones.push({'indice': i, 'nombre': this.definicion});
			listaTerminos.push({'indice': i, 'nombre': this.termino});
		});
		shuffle(listaDefiniciones);
		shuffle(listaTerminos);
		clonDefinicion = 0;
		clonTermino = 0;
		jQuery('#colDefiniciones, #colTerminos').html('');
		for (x=0; x < terminos.length; x++){
			jQuery('#contPlantillas .cellDefinicion').data('indiceTermino', listaDefiniciones[x].indice).attr('indiceTermino', listaDefiniciones[x].indice);
			jQuery('#contPlantillas .cellDefinicion .texto').html(listaDefiniciones[x].nombre);
			jQuery('#contPlantillas .cellTermino').data('indiceTermino', listaTerminos[x].indice).attr('indiceTermino', listaTerminos[x].indice);
			jQuery('#contPlantillas .cellTermino .texto').html(listaTerminos[x].nombre);
			
			jQuery('#colDefiniciones').append( jQuery('#contPlantillas .cellDefinicion').clone(true) );
			jQuery('#colTerminos').append( jQuery('#contPlantillas .cellTermino').clone(true) );
		
		}
		jQuery('#colDefiniciones .cellDefinicion').each(function(i, v){
			jQuery(this).children().eq(0).css('background-color', ncolores[ i ]);
			jQuery(this).data('colorIndex', i);
		});
		// #colDefiniciones .cellDefinicion,
		jQuery(' #colTerminos .cellTermino').click(function(){
			colorIndex = jQuery(this).data('colorIndex')  == undefined ? -1 :    parseInt( jQuery(this).data('colorIndex') );
			colorIndex++;
			if ( typeof ncolores[ colorIndex ] == "undefined"){
				colorIndex = 0;
			}
			jQuery(this).data('colorIndex', colorIndex);
			jQuery(this).children().eq(0).css('background-color', ncolores[ colorIndex ]);
		});
		
		
		jQuery('#btnResponder').click(function(){
			rbuenas = rmalas = 0;
			jQuery('#colTerminos .cellTermino').each(function(){
				curTermino = jQuery(this);
				miDefinicion = jQuery('#colDefiniciones .cellDefinicion:not(.marked)').filter(function(){
					return jQuery(this).data('indiceTermino') == curTermino.data('indiceTermino');
				});
				miDefinicion.addClass('marked');
				if (curTermino.data('colorIndex') == miDefinicion.data('colorIndex')){
					resultado(1);
				} else {
					resultado(0);
				}
			});
			
			console.log('correctas: ' + rbuenas + "; incorrectas: " + rmalas);
			
		});
		
	});
</script>